body {
    margin: 0;
    padding: 0;
    background-image: url("../public/bg.jpg");
    background-color: #CCC5BB;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /*height: 100vh;*/
}

p {
    margin: 0.5rem;
}

hr {
    margin-bottom: 20px;
    border: 1.2px solid black;
}

ol {
    /*list-style-type: none; /* Remove bullets */
    padding-left: 2.5rem; /* Remove padding */
    margin: 0; /* Remove margins */
  }


#info {
    margin-top: 40px;
    margin-bottom: 40px;
}

.ora-info {
    margin-left: 2rem;
}


#content {
    /*position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px; /* this is half the height of your div*/  
    /*margin-left:-100px; /*this is half of width of your div*/
    background-color: #DBB784;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
  }

.font1 {
    font-family: 'Rufina', serif;
    
}
.font2 {
    font-family: 'PT Serif', serif;
}

/* Large desktops and laptops */ 
@media (min-width: 1200px) { 
    .header-fonsize-1 {
        font-size: 44px;
    }
    .header-fonsize-2 {
        font-size: 26px;
    }
    .header-fonsize-3 {
        font-size: 15px;
    }

    #content {
        margin-left: 30vh;
        margin-right: 30vh;
      }
} 
     
    /* Landscape tablets and medium desktops */ 
@media (min-width: 992px) and (max-width: 1199px) { 
    .header-fonsize-1 {
        font-size: 40px;
    }
    .header-fonsize-2 {
        font-size: 24px;
    }
    .header-fonsize-3 {
        font-size: 15px;
    }

    #content {
        margin-left: 10vh;
        margin-right: 10vh;
      }
} 
     
    /* Portrait tablets and small desktops */ 
@media (min-width: 768px) and (max-width: 991px) { 
    .header-fonsize-1 {
        font-size: 42px;
    }
    .header-fonsize-2 {
        font-size: 24px;
    }
    .header-fonsize-3 {
        font-size: 15px;
    }

    #content {
        margin-left: 6vh;
        margin-right: 6vh;
      }
} 
     
    /* Landscape phones and portrait tablets */ 
@media (max-width: 767px) { 
    .header-fonsize-1 {
        font-size: 40px;
    }
    .header-fonsize-2 {
        font-size: 22px;
    }
    .header-fonsize-3 {
        font-size: 14px;
    }

    #content {
        margin-left: 3vh;
        margin-right: 3vh;
      }
} 
     
    /* Portrait phones and smaller */ 
@media (max-width: 480px) { 
    .header-fonsize-1 {
        font-size: 32px;
    }
    .header-fonsize-2 {
        font-size: 20px;
    }
    .header-fonsize-3 {
        font-size: 14px;
    }

    #content {
        margin-left: 1vh;
        margin-right: 1vh;
      }
} 